@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --theme-col: #2d4bf0;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    color: #444444;
    display: grid;
    place-items: center;
    background:
        linear-gradient(to bottom right, #14213D 15%, transparent),
        radial-gradient(circle at 100% 0%, rgba(255, 255, 255, .2) 10%, transparent 20%) center center / 1.5rem 1.5rem,
        linear-gradient(to bottom right, #090802, #14213D);
}

* {
    margin: 0;
    padding: 0;

}

/*floating contact button*/


.fabs {
    position: fixed !important;
    right: 4rem;
    bottom: 4rem;
    z-index: 9999;
}

.action {
    background: rgb(255, 106, 0);
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    box-shadow: 0 .5rem .7rem 0rem gray;
    transition: background-color 0.4s ease-in-out;
}

.action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    cursor: pointer;
}

.action:hover {
    background-color: rgb(255, 156, 103);
}

.btn {
    position: absolute !important;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.btn i {
    position: absolute !important;
    font-size: 1.8rem;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btns {
    position: absolute !important;
    bottom: 0rem;
    margin-bottom: .8rem;
    height: 3.5rem;
    width: 3.5rem;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.btns.open {
    bottom: 5.5rem;
}


/*----------------------------*/
a {
    color: #D74E09;
    text-decoration: none !important;
}

a:hover {
    color: #ffd584;
    text-decoration: none;
}


/*Get Startet Button*/
.get-started-btn {
    color: #ffffff;
    border-radius: .4rem;
    padding: .7rem 2.5rem .8rem 2.5rem;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 1.4rem;
    display: inline-block;
    border: .2rem solid #D74E09;
    text-decoration: none;
    position: relative;
}

.scrollto {
    background-color: #D74E09;
    color: #fff;
    border-radius: .4rem;
    padding: .7rem 2.5rem .8rem 2.5rem;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 1.4rem;
    display: inline-block;
    border: .2rem solid #D74E09;
    text-decoration: none;
    position: relative;
    margin-top: 30px;
    font-weight: 700;

}

.get-started-btn:hover {
    background: #f07538;
    color: aliceblue;
}

.scrollto:hover {
    background: #f47536;
    color: aliceblue;
}


a:link,
a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

/* HELPER CLASSES */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************/
/* NAVIGATION MENU */
/***********************/

/* OVERLAY */
.overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100%);
}

/* NAV MENU ITEMS */
nav ul {
    height: 100vh;
    height: 100svh;
    list-style: none;
}

nav ul li {
    height: 20%;
}

nav li:nth-of-type(1) {
    background-color: #D74E09;
}

nav li:nth-of-type(2) {
    background-color: #ec7f48;
}

nav li:nth-of-type(3) {
    background-color: #D74E09;
}

nav li:nth-of-type(4) {
    background-color: #ec7f48;
}

nav li:nth-of-type(5) {
    background-color: #D74E09;
}

nav li a {
    letter-spacing: 0.4rem;
    font-size: 2rem;
}

nav li a:hover,
nav li a:active {
    transform: scale(1.2);
}

/***********************/
/* NAV SLIDE IN ANIMATION */
/***********************/

.slide-in-1 {
    animation: slide-in 0.1s linear 0.2s both;
}

.slide-in-2 {
    animation: slide-in 0.1s linear 0.4s both;
}

.slide-in-3 {
    animation: slide-in 0.1s linear 0.6s both;
}

.slide-in-4 {
    animation: slide-in 0.1s linear 0.8s both;
}

.slide-in-5 {
    animation: slide-in 0.1s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/***********************/
/* NAV SLIDE OUT ANIMATION */
/***********************/

.slide-out-1 {
    animation: slide-out 0.1s linear 0.5s both;
}

.slide-out-2 {
    animation: slide-out 0.1s linear 0.4s both;
}

.slide-out-3 {
    animation: slide-out 0.1s linear 0.3s both;
}

.slide-out-4 {
    animation: slide-out 0.1s linear 0.2s both;
}

.slide-out-5 {
    animation: slide-out 0.1s linear 0.1s both;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/***********************/
/* HAMBURGER MENU ANIMATION */
/***********************/

.hamburger-menu {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.8rem 0;
    transition: 0.4s;
}

.menu-bar2 {
    width: 2rem;
    margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {
    transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
    opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
    transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}


/*Hero Section*/
#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* to Ensure the video is behind the hero content */
}


#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    text-align: center;
    margin-top: -20rem;
    z-index: 1;
    color: #F0F0C9;
}

#hero .container>a {
    margin-top: 5.5rem;
}

#hero .container>h3 {
    margin-top: 10rem;
}

#hero .container #element {

    color: #D74E09;
}

.text-animate>h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 3rem;
}

#hero h1 {
    margin-top: -50px;
    font-size: 8rem;
    font-weight: 800;
    line-height: 6.4rem;
    margin-bottom: 3rem;
    color: #F0F0C9;
    font-family: "Poppins", sans-serif;
}

#hero h1 span {
    color: #D74E09;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 1rem 0 0 0;
    font-size: 2rem;
}

#hero .icon-box {
    padding: 1rem 1rem;
    margin-top: -5rem;
    transition: ease-in-out 0.3s;
    border: .1rem solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    text-decoration: none;
}

#hero .icon-box i {
    font-size: 3.2rem;
    line-height: 1;
    color: #D74E09;
}

#hero .icon-box h3 {
    text-decoration: none;
    font-weight: 900;
    line-height: 1;
    font-size: 2rem;
    line-height: 2.6rem;
}

#hero .icon-box h3 a {
    color: #F0F0C9;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

#hero .icon-box h3 a:hover {
    color: #D74E09;
}

#hero .icon-box:hover {
    border-color: #D74E09;
}



/*Sections General*/
section {
    padding: 6rem 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 4rem;
}

.section-title h2 {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0;
    line-height: .1rem;
    margin: 0 0 .5rem 0;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #F0F0C9;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 12rem;
    height: .1rem;
    display: inline-block;
    background: #ffde9e;
    margin: .4rem 1rem;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
}

/*About section start*/

.about {
    display: grid;
    place-items: center;
    background:
        linear-gradient(to bottom right, #14213D 15%, transparent),
        radial-gradient(circle at 100% 0%, rgba(255, 255, 255, .2) 10%, transparent 20%) center center / 1.5rem 1.5rem,
        linear-gradient(to bottom right, #090802, #14213D);
    position: relative;
    text-align: center;
    color: var(--black);
    height: 100vh;
    width: 100%;
    min-height: 50rem;
    font: 1.6rem / 2.4rem "Rubik", sans-serif;
    color: var(--black);
    margin: 5rem 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: auto;
}


.row>h1 {
    color: #D74E09;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: #151515;
    margin-top: 7rem;
    margin-bottom: 3rem;
}



.row>h5 {
    font-size: 2.3rem;
    font-weight: 400;
    text-shadow: #ffffff;
    color: #e5e5e5;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.row>h5>img {
    float: left;
    height: 25rem;
    width: 21rem;
    padding: 40px;
}

/*About section end*/

/*Course section start*/


#about .container {
    max-width: 140rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

#about .container .cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 1rem;
    grid-auto-flow: column;
    padding: 2.5rem 0rem;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;
}

#about .container>.cards>.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;
    background: var(--white);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

#about>.container>.cards {
    border-radius: 1.2rem;
}

#about .container>.cards>.card:hover {
    color: var(--white);
    background: var(--orange);
}

#about .container>.cards>.card .card-title {
    font-size: 2rem;
}

#about .container>.cards>.card .card-content {
    margin: 2rem 0;
    max-width: 85%;
}

#about .container>.cards>.card .card-link-wrapper {
    margin-top: auto;
}

#about .container>.cards>.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--orange);
    padding: .6rem 1.2rem;
    border-radius: .8rem;
    transition: background 0.2s;
}

#about .container>.cards>.card:hover .card-link {
    background: var(--darkorange);
}

#about .container>.cards::-webkit-scrollbar {
    height: 1.2rem;
}

#about .container>.cards::-webkit-scrollbar-thumb,
#about .container>.cards::-webkit-scrollbar-track {
    border-radius: 9.2rem;
}

#about .container>.cards::-webkit-scrollbar-thumb {
    background: var(--darkorange);
}

#about .container>.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

#about .container>.cards>.card .card-content img {
    height: 13rem;
    width: 13rem;
    display: flex;
    margin-left: 7rem;
}

@media (min-width: 500px) {
    #about .container>.cards {
        grid-auto-columns: calc(50% - 1rem);
        grid-column-gap: 2rem;
    }
}

@media (min-width: 700px) {
    #about .container>.cards {
        grid-auto-columns: calc(calc(100% / 3) - 2rem);
        grid-column-gap: 3rem;
    }
}

@media (min-width: 1100px) {
    #about .container>.cards {
        grid-auto-columns: calc(25% - 3rem);
        grid-column-gap: 4rem;
    }
}


/*Courses section starts*/

#services {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    place-items: center;
    background:
        linear-gradient(to bottom right, #14213D 15%, transparent),
        radial-gradient(circle at 100% 0%, rgba(255, 255, 255, .2) 10%, transparent 20%) center center / 1.5rem 1.5rem,
        linear-gradient(to bottom right, #090802, #14213D);
}

#services .courses h1 {
    color: #D74E09;
    font-size: 5rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 12rem;
    margin-right: 50rem;
    margin-left: 50rem;
}

#services .wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    margin-bottom: 10rem;
}

#services .wrapper .card {
    grid-area: 1 / 1;
    height: 20rem;
    width: 40rem;
    transform: translateX(1rem) rotateY(25deg) rotateX(10deg);
    background: rgba(229, 229, 229, 0.2);
    /*rgba(215, 78, 9,0.88)*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    color: #F0F0C9;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem -0.3rem rgba(0, 0, 0, .1);
}

#services .wrapper .card h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

#services .wrapper .card .enclosed {
    background: #000;
    line-height: 1;
    color: #D74E09;
    padding: 0 .5rem;
    display: inline-block;
    transform: translate(-.1rem, .1rem) scale(0.75);
    transform-origin: right center;
}

#services .wrapper:before {
    --bw: .9rem;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-6rem) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
}


#services .wrapper:hover>div,
#services .wrapper:hover:before {
    transform: none;
}


#services .wrapper>div,
#services .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25, .46, .45, 1);
}

/* serives/courses end */

/*Footer Started*/

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
    width: 100%;
}

.footer-section .container {
    width: auto;
    overflow-x: hidden;
}

.footer-section .comp-name {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
    height: 8rem;
}

.footer-logo>.comp-name {
    font-weight: 900;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}


.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    font-size: 1.5rem;

}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


.f-item-con {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.5rem;
}

.g-i-t .footer-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.g-i-t {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.g-i-t form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

form .g-inp {
    padding: .25rem .5rem;
    font-size: 1.9rem;
}

.g-inp textarea {
    height: 15rem;
}

.f-btn {
    padding: .25rem 1rem;
    background-color: #D74E09;
    border-radius: .25rem;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}



/* media queries */

@media(width <=99.8rem) {
    html {
        font-size: 60%;
        overflow-x: hidden;
    }

    .row h5 {
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

}

@media (width <=79.8rem) {
    html {
        font-size: 55%
    }

    .footer-social-icon {

        margin-bottom: 20px;
    }

    #hero h1 {
        font-size: 5rem;
    }

    #services .courses h1 {
        margin-left: 10px;
        margin-right: 1px;
        font-size: 3.5rem;
        text-align: center;
    }

    #about .row h1 {
        font-size: 3.5rem;
    }

    #about .row h5 {
        font-size: 2rem;
        padding: 40px;
        margin: 0;
        text-align: center;
    }

    #about .row h5 img {
        height: 120px;
        width: 100px;
        padding: 10px;
    }

    #hero h1 {
        font-size: 3.5rem;
    }

    .text-animate>h3 {

        font-weight: 600;
        font-size: 1.8rem;
    }

    #services .wrapper .card {
        height: 150px;
        width: 190px;
    }


    #services .wrapper .card h1 {
        font-size: 2.9rem;
        font-weight: 900;
    }

    .single-cta {
        margin-bottom: 10px;
    }
}